:root {
  --font-family: Pretendard, sans-serif;
  --navy-500: #80878f;
  --navy-900: #2c3744;
  --white: white;
  --yellow-400: #ffed49;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

.body {
  max-width: 100%;
  background-color: #fff;
  justify-content: center;
  display: block;
}

.hero-stack {
  width: 100%;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  display: flex;
}

.container {
  width: 100%;
  max-width: 768px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.image-wrapper_full {
  width: 100%;
  height: 100%;
  max-width: none;
  background-color: #eaf7ff;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: block;
}

.image-wrapper_full.bg-blue {
  padding-bottom: 60px;
}

.image-wrapper_full.bg-orange {
  background-color: #fff9e5;
  padding-bottom: 60px;
}

.image-wrapper_full.bg-green {
  background-color: #e7ffe8;
  padding-bottom: 60px;
}

.image-wrapper_full.bg-mint {
  background-color: #c3fbff;
}

.image {
  width: 100%;
  object-fit: cover;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.image.top_img {
  height: 100%;
}

.title-section {
  width: 100%;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 16px;
  display: block;
}

.h4 {
  font-family: var(--font-family);
  color: var(--navy-500);
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  display: none;
}

.h3 {
  font-family: var(--font-family);
  color: var(--navy-900);
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
}

.h3.margin-top-20 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  display: block;
}

.card-wrapper {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
}

.card_img {
  width: 100%;
  height: 100%;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  object-fit: cover;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
  display: flex;
}

.link-block.modal-btn {
  text-align: center;
  border-top: 1px solid #edf0f3;
  justify-content: center;
  margin-top: 20px;
  display: flex;
}

.utility-page-wrap {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.utility-page-content {
  width: 260px;
  text-align: center;
  flex-direction: column;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.modal-wrapper {
  width: 100%;
  height: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: rgba(0, 0, 0, .4);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  display: none;
  position: fixed;
}

.modall-bg {
  width: 100%;
  max-width: 360px;
  text-align: center;
  background-color: #fff;
  border-radius: 16px;
  position: relative;
}

.card-wrapper-full {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0;
  padding-right: 16px;
  display: flex;
  padding-bottom: 90px;
}

.link-block-share {
  margin-top: 70px;
  margin-bottom: 70px;
}

._68-icon {
  width: 68px;
  height: 68px;
}

.icon_wrapper {
  margin-top: 40px;
  margin-bottom: 12px;
}

.p {
  font-family: var(--font-family);
  color: var(--navy-500);
}

@media screen and (max-width: 991px) {
  .hero-stack {
    padding: 0;
  }

  .container {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .image-wrapper_full {
    max-width: none;
    margin-left: 0;
    margin-right: 0;
    display: block;
  }

  .image-wrapper_full.bg-blue {
    padding-bottom: 60px;
  }

  .image-wrapper_full.bg-orange {
    background-color: #fff9e5;
    padding-bottom: 60px;
  }

  .image-wrapper_full.bg-green {
    background-color: #e7ffe8;
    padding-bottom: 60px;
  }

  .image-wrapper_full.bg-mint {
    background-color: #c3fbff;
  }

  .title-section {
    align-items: center;
    padding: 16px;
    display: block;
  }

  .h4 {
    text-align: center;
    font-size: 20px;
  }

  .h3 {
    text-align: center;
    font-size: 20px;
    line-height: 150%;
  }

  .h3.margin-top-20 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    display: flex;
  }

  .card-wrapper {
    padding-left: 16px;
    padding-right: 16px;
  }

  .card_img {
    width: 100%;
    height: 100%;
    padding: 0;
  }

  .link-block.modal-btn {
    border-top: 1px solid #edf0f3;
    justify-content: center;
    margin-top: 20px;
    display: flex;
  }

  .modal-wrapper {
    height: 100%;
    max-width: 768px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: rgba(0, 0, 0, .4);
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
    display: none;
    position: fixed;
  }

  .modall-bg {
    width: 100%;
    max-width: 360px;
    text-align: center;
    background-color: #fff;
    border-radius: 16px;
    position: relative;
  }

  .card-wrapper-full {
    padding-left: 0;
    padding-right: 0;
  }

  .link-block-share {
    margin-top: 70px;
    margin-bottom: 70px;
  }

  ._68-icon {
    width: 68px;
    height: 68px;
  }

  .icon_wrapper {
    margin-top: 40px;
    margin-bottom: 12px;
  }

  .p {
    font-family: var(--font-family);
    color: var(--navy-500);
  }
}

@media screen and (max-width: 767px) {
  .hero-stack {
    padding: 0;
  }

  .container {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    display: flex;
  }

  .image-wrapper_full {
    height: 100%;
    background-color: #eaf7ff;
    display: block;
  }

  .image-wrapper_full.bg-blue {
    padding-bottom: 60px;
  }

  .image-wrapper_full.bg-orange {
    background-color: #fff9e5;
    padding-bottom: 60px;
  }

  .image-wrapper_full.bg-green {
    background-color: #e7ffe8;
    padding-bottom: 60px;
  }

  .image-wrapper_full.bg-mint {
    background-color: #c3fbff;
  }

  .image.top_img {
    height: 100%;
  }

  .title-section {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-align: center;
    padding: 16px;
    display: block;
  }

  .h4 {
    color: var(--navy-500);
    text-align: center;
    font-size: 19px;
  }

  .h3 {
    color: var(--navy-900);
    text-align: center;
    font-size: 20px;
    line-height: 150%;
  }

  .h3.margin-top-20 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    display: flex;
  }

  .card-wrapper {
    padding-left: 16px;
    padding-right: 16px;
  }

  .card_img {
    width: 100%;
    height: 100%;
    padding: 0;
  }

  .link-block {
    object-fit: fill;
    justify-content: center;
    align-items: stretch;
    display: flex;
  }

  .link-block.modal-btn {
    border-top: 1px solid #edf0f3;
    border-right: 0 #000;
    margin-top: 24px;
  }

  .modal-wrapper {
    height: 100%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: rgba(0, 0, 0, .4);
    justify-content: center;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    display: none;
    position: fixed;
  }

  .modall-bg {
    width: 100%;
    height: auto;
    max-width: 360px;
    text-align: center;
    background-color: #fff;
    border-radius: 16px;
    position: relative;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .card-wrapper-full {
    padding-left: 0;
    padding-right: 0;
  }

  .link-block-share {
    object-fit: fill;
    justify-content: center;
    align-items: stretch;
    margin-top: 70px;
    margin-bottom: 70px;
    display: flex;
  }

  ._68-icon {
    width: 68px;
    height: 68px;
  }

  .icon_wrapper {
    margin-top: 40px;
    margin-bottom: 12px;
  }

  .p {
    font-family: var(--font-family);
    color: var(--navy-500);
  }
}

@media screen and (max-width: 479px) {
  .body {
    height: 71px;
  }

  .hero-stack {
    padding: 0;
  }

  .container {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    display: block;
  }

  .image-wrapper_full {
    height: 100%;
    background-color: #eaf7ff;
    justify-content: center;
    align-items: center;
    padding-top: 0;
  }

  .image-wrapper_full.bg-blue {
    padding-bottom: 60px;
  }

  .image-wrapper_full.bg-orange {
    background-color: #fff9e5;
    padding-bottom: 60px;
  }

  .image-wrapper_full.bg-green {
    background-color: #e7ffe8;
    padding-bottom: 60px;
  }

  .image-wrapper_full.bg-mint {
    background-color: #c3fbff;
  }

  .image {
    height: 100%;
    aspect-ratio: auto;
    object-fit: cover;
  }

  .title-section {
    padding: 0;
    display: block;
  }

  .h4 {
    color: var(--navy-500);
    text-align: center;
    white-space: normal;
    word-break: keep-all;
    font-size: 15px;
    display: flex;
  }

  .h3 {
    color: var(--navy-900);
    text-align: center;
    white-space: normal;
    word-break: keep-all;
    font-size: 20px;
    line-height: 150%;
  }

  .h3.margin-top-20 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    text-decoration: none;
    display: flex;
  }

  .card-wrapper {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex: 0 auto;
    padding-bottom: 0;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
  }

  .card_img {
    width: 100%;
    height: 100%;
    padding: 0;
  }

  .link-block {
    justify-content: center;
  }

  .link-block.modal-btn {
    border: 1px #edf0f3;
    border-top-style: solid;
    margin-top: 24px;
  }

  .modal-wrapper {
    height: 100%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-align: center;
    background-color: rgba(0, 0, 0, .4);
    justify-content: center;
    align-items: center;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    display: none;
    position: fixed;
  }

  .modall-bg {
    width: 100%;
    height: auto;
    background-color: #fff;
    border-radius: 16px;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .card-wrapper-full {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex: 0 auto;
    padding-bottom: 90px;
    padding-left: 0;
    padding-right: 0;
    display: flex;
  }

  .link-block-share {
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 70px;
  }

  ._68-icon {
    width: 68px;
    height: 68px;
  }

  .icon_wrapper {
    width: auto;
    height: auto;
    margin-top: 40px;
    margin-bottom: 12px;
  }

  .p {
    font-family: var(--font-family);
    color: var(--navy-500);
  }
}


@font-face {
  font-family: 'Pretendard';
  src: url('../fonts/Pretendard-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('../fonts/Pretendard-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('../fonts/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
